@import './base.css';
body {
  width: 100%;
  line-height: 1.2;
  max-width: 2000px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: var(--dark-blue);
  font-weight: 14px;

  * {
    font-family: 'Montserrat', sans-serif;
  }
}

#app {
  min-height: 100vh;
  display: flex;
}

.mainField {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--vt-c-divider-light-1);
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff;
  border-radius: var(--border-radius-2);

  input {
    border: none;
    box-shadow: none;
    min-height: 50px;
    padding: 5px 10px;
    background-color: transparent;
    width: 100%;
    font-size: 18px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  select {
    min-height: 50px;
  }
}

.fieldIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mainBorder {
  border-radius: var(--border-radius-2);
}

.textTitle {
  font-size: 1em;
  font-weight: 600;

  &.md {
    font-size: 1.3em;
  }

  &.xl {
    font-size: 1.5em;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.column {
    flex-direction: column;
  }

  &.gap-1 {
    gap: 4px;
  }

  &.gap-2 {
    gap: 8px;
  }

  &.gap-3 {
    gap: 12px;
  }

  &.gap-4 {
    gap: 16px;
  }

  &.gap-5 {
    gap: 20px;
  }

  &.gap-6 {
    gap: 30px;
  }

  &.noWrap {
    flex-wrap: nowrap;
  }

  &.justify-center {
    justify-content: center;
    align-items: center;
  }

  &.justify-between {
    justify-content: space-between;
    align-items: center;
  }
}
.fullWidth {
  width: 100%;
}

.mainButton {
  min-height: 34px;
  border: none;
  border-radius: var(--border-radius-6);
  font-size: 1.2em;
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;

  &.small {
    max-width: 200px;
  }

  &.outlined {
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--dark-blue);
      color: #fff;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
